<br/>

<table>
  <%= render 'layouts/admin_table' %>
  <tr id="calendar" >
    <iframe src="http://www.google.com/calendar/embed?src=8thlight.com_4uqqu52baa6k0qeb0dp3gni138%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" name="8th Light Time Off" id="google"></iframe>
  </tr>
</table>
