<br/>

<table>
  <%= render 'layouts/admin_table' %>
  <tr id="calendar" >
    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23EAEAEA&amp;src=8thlight.com_4uqqu52baa6k0qeb0dp3gni138%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FChicago"
            style=" border-width:0 " width="800" height="600" frameborder="0"
            scrolling="no" name="8th Light Time Off"></iframe>
  </tr>
</table>
