<h1>Listing users</h1>

<%= render 'layouts/admin_crud_table' %>

<%= render 'layouts/archived_user_table' %>

<br />

<% if current_user.admin? %>
  <%= link_to 'Create a New User', new_user_path %>
<% end %>
