<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
    This is a reminder that your vacation is a week from now.
    From <%= @start %> to <%= @end %>.
    <br/>
    </p>
    <p>
      To edit, follow this link: <%= @url %>.
    </p>
  </body>
</html>
